DATA FRAME
a data frame is a object in pandas to represt a data in row and column format

In [1]:
#importing pandas library file
import pandas as pd

In [2]:
#to import the csv file into jupyter notebook
df = pd.read_csv(r"C:\Users\G.M.BHOOPESH\Desktop\ds\study materials\pandas\population.csv")
df

,period,status,natural_increase,net_migration,population_change,percent_population_change,population
0,30-06-2008,F,8500.0,-3200.0,4200.0,0.10,4259800.0
1,30-09-2008,F,8100.0,2900.0,9800.0,0.23,4269600.0
2,31-12-2008,F,9200.0,2700.0,10700.0,0.25,4280300.0
3,31-03-2009,F,9300.0,5100.0,13200.0,0.31,4293500.0
4,30-06-2009,F,8400.0,1900.0,9100.0,0.21,4302600.0
5,30-09-2009,F,8500.0,7400.0,14700.0,0.34,4317300.0
6,31-12-2009,F,9100.0,6900.0,14800.0,0.34,4332100.0
7,31-03-2010,F,9900.0,4800.0,13500.0,0.31,4345700.0
8,30-06-2010,F,8700.0,-2600.0,5000.0,0.11,4350700.0
9,30-09-2010,F,8400.0,4800.0,12000.0,0.28,4362700.0
10,31-12-2010,F,8900.0,3400.0,11200.0,0.26,4373900.0
11,31-03-2011,F,8800.0,900.0,8600.0,0.20,4382500.0
12,30-06-2011,F,7900.0,-5300.0,1500.0,0.03,4380000.0
13,30-09-2011,F,7500.0,1700.0,8100.0,0.18,4390000.0
14,31-12-2011,F,7800.0,800.0,7400.0,0.17,4399400.0
15,31-03-2012,F,8800.0,-600.0,7000.0,0.16,4406500.0
16,30-06-2012,F,7800.0,-5100.0,1600.0,0.04,4408100.0
17,30-09-2012,F,7100.0,1600.0,7600.0,0.17,4415600.0
18,31-12-2012,F,8500.0,2900.0,10200.0,0.23,4425900.0
19,31-03-2013,F,8200.0,3100.0,10100.0,0.23,4440000.0
20,30-06-2013,F,7000.0,300.0,6100.0,0.14,4442100.0
21,30-09-2013,F,6700.0,8900.0,15600.0,0.35,4457700.0
22,31-12-2013,F,7900.0,10200.0,18100.0,0.41,4475800.0
23,31-03-2014,F,7600.0,12500.0,20200.0,0.45,4500000.0
24,30-06-2014,F,7100.0,6700.0,13800.0,0.31,4509700.0
25,30-09-2014,F,5900.0,16000.0,21800.0,0.48,4531600.0
26,31-12-2014,F,7300.0,15700.0,23000.0,0.51,4554600.0
27,31-03-2015,F,7600.0,17900.0,25500.0,0.56,4580000.0
28,30-06-2015,F,7000.0,8700.0,15700.0,0.34,4595700.0
29,30-09-2015,F,5900.0,18900.0,24900.0,0.54,4620600.0
30,31-12-2015,F,7300.0,19400.0,26700.0,0.58,4647300.0
31,31-03-2016,F,8000.0,20600.0,28500.0,0.61,4675900.0
32,30-06-2016,F,7200.0,10200.0,17400.0,0.37,4693200.0
33,30-09-2016,F,6800.0,19800.0,26600.0,0.57,4719800.0
34,31-12-2016,F,7400.0,20000.0,27400.0,0.58,4747200.0
35,31-03-2017,F,7400.0,21900.0,29400.0,0.62,4776500.0
36,30-06-2017,F,6800.0,10500.0,17300.0,0.36,4793900.0
37,30-09-2017,F,5500.0,18500.0,24000.0,0.50,4817800.0
38,31-12-2017,F,7500.0,19100.0,26600.0,0.55,4844400.0
39,31-03-2018,F,7300.0,19900.0,27200.0,0.56,4871600.0
40,30-06-2018,P,6200.0,7500.0,13700.0,0.28,4885300.0

In [3]:
# to print first few rows 
df.head()

,period,status,natural_increase,net_migration,population_change,percent_population_change,population
0,30-06-2008,F,8500.0,-3200.0,4200.0,0.10,4259800.0
1,30-09-2008,F,8100.0,2900.0,9800.0,0.23,4269600.0
2,31-12-2008,F,9200.0,2700.0,10700.0,0.25,4280300.0
3,31-03-2009,F,9300.0,5100.0,13200.0,0.31,4293500.0
4,30-06-2009,F,8400.0,1900.0,9100.0,0.21,4302600.0

In [4]:
# to print first 2 rows 
df.head(2)

,period,status,natural_increase,net_migration,population_change,percent_population_change,population
0,30-06-2008,F,8500.0,-3200.0,4200.0,0.10,4259800.0
1,30-09-2008,F,8100.0,2900.0,9800.0,0.23,4269600.0

In [5]:
# to primt last few rows 
df.tail()

,period,status,natural_increase,net_migration,population_change,percent_population_change,population
36,30-06-2017,F,6800.0,10500.0,17300.0,0.36,4793900.0
37,30-09-2017,F,5500.0,18500.0,24000.0,0.50,4817800.0
38,31-12-2017,F,7500.0,19100.0,26600.0,0.55,4844400.0
39,31-03-2018,F,7300.0,19900.0,27200.0,0.56,4871600.0
40,30-06-2018,P,6200.0,7500.0,13700.0,0.28,4885300.0

In [6]:
# to primt last 2 rows 
df.tail(2)

,period,status,natural_increase,net_migration,population_change,percent_population_change,population
39,31-03-2018,F,7300.0,19900.0,27200.0,0.56,4871600.0
40,30-06-2018,P,6200.0,7500.0,13700.0,0.28,4885300.0

In [7]:
#slicing a dataframe by index
df[3:20]

,period,status,natural_increase,net_migration,population_change,percent_population_change,population
3,31-03-2009,F,9300.0,5100.0,13200.0,0.31,4293500.0
4,30-06-2009,F,8400.0,1900.0,9100.0,0.21,4302600.0
5,30-09-2009,F,8500.0,7400.0,14700.0,0.34,4317300.0
6,31-12-2009,F,9100.0,6900.0,14800.0,0.34,4332100.0
7,31-03-2010,F,9900.0,4800.0,13500.0,0.31,4345700.0
8,30-06-2010,F,8700.0,-2600.0,5000.0,0.11,4350700.0
9,30-09-2010,F,8400.0,4800.0,12000.0,0.28,4362700.0
10,31-12-2010,F,8900.0,3400.0,11200.0,0.26,4373900.0
11,31-03-2011,F,8800.0,900.0,8600.0,0.20,4382500.0
12,30-06-2011,F,7900.0,-5300.0,1500.0,0.03,4380000.0
13,30-09-2011,F,7500.0,1700.0,8100.0,0.18,4390000.0
14,31-12-2011,F,7800.0,800.0,7400.0,0.17,4399400.0
15,31-03-2012,F,8800.0,-600.0,7000.0,0.16,4406500.0
16,30-06-2012,F,7800.0,-5100.0,1600.0,0.04,4408100.0
17,30-09-2012,F,7100.0,1600.0,7600.0,0.17,4415600.0
18,31-12-2012,F,8500.0,2900.0,10200.0,0.23,4425900.0
19,31-03-2013,F,8200.0,3100.0,10100.0,0.23,4440000.0

In [8]:
df.columns# to print all the columns

Index(['period', 'status', 'natural_increase', 'net_migration',
       'population_change', 'percent_population_change', 'population'],
      dtype='object')

In [9]:
df.status

0     F
1     F
2     F
3     F
4     F
5     F
6     F
7     F
8     F
9     F
10    F
11    F
12    F
13    F
14    F
15    F
16    F
17    F
18    F
19    F
20    F
21    F
22    F
23    F
24    F
25    F
26    F
27    F
28    F
29    F
30    F
31    F
32    F
33    F
34    F
35    F
36    F
37    F
38    F
39    F
40    P
Name: status, dtype: object

In [10]:
df[['status','period']] # to print only the required columns

   status      period
0       F  30-06-2008
1       F  30-09-2008
2       F  31-12-2008
3       F  31-03-2009
4       F  30-06-2009
5       F  30-09-2009
6       F  31-12-2009
7       F  31-03-2010
8       F  30-06-2010
9       F  30-09-2010
10      F  31-12-2010
11      F  31-03-2011
12      F  30-06-2011
13      F  30-09-2011
14      F  31-12-2011
15      F  31-03-2012
16      F  30-06-2012
17      F  30-09-2012
18      F  31-12-2012
19      F  31-03-2013
20      F  30-06-2013
21      F  30-09-2013
22      F  31-12-2013
23      F  31-03-2014
24      F  30-06-2014
25      F  30-09-2014
26      F  31-12-2014
27      F  31-03-2015
28      F  30-06-2015
29      F  30-09-2015
30      F  31-12-2015
31      F  31-03-2016
32      F  30-06-2016
33      F  30-09-2016
34      F  31-12-2016
35      F  31-03-2017
36      F  30-06-2017
37      F  30-09-2017
38      F  31-12-2017
39      F  31-03-2018
40      P  30-06-2018

In [11]:
#operations using pandas
df.sum()#prints the sum of all the columns

period                       30-06-200830-09-200831-12-200831-03-200930-06-...
status                               FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFP
natural_increase                                                      316800.0
net_migration                                                         337300.0
population_change                                                     629800.0
percent_population_change                                                13.82
population                                                         184876900.0
dtype: object

In [12]:
df['net_migration'].sum()#prints the sum of required the columns

337300.0

In [13]:
df.describe()#describes the whole dataset with integer data

,natural_increase,net_migration,population_change,percent_population_change,population
count,41.000000,41.000000,41.000000,41.000000,4.100000e+01
mean,7726.829268,8226.829268,15360.975610,0.337073,4.509193e+06
std,985.399510,8082.481809,8098.236785,0.168971,1.851831e+05
min,5500.000000,-5300.000000,1500.000000,0.030000,4.259800e+06
25%,7100.000000,1900.000000,9100.000000,0.210000,4.373900e+06
50%,7600.000000,6900.000000,13800.000000,0.310000,4.442100e+06
75%,8500.000000,16000.000000,23000.000000,0.500000,4.647300e+06
max,9900.000000,21900.000000,29400.000000,0.620000,4.885300e+06

In [14]:
df['net_migration'].min()#prints the min element of required the columns

-5300.0

In [15]:
df['net_migration'].mean()#prints the mean of required the columns

8226.829268292682

In [16]:
df['net_migration'].std()#prints the standard deviation of required the columns

8082.481809142657

In [17]:
df['net_migration'].max()#prints the maximum element of required the columns

21900.0

In [18]:
#to conditonally print rows and colunmns
    #for filtering columns                                 #for filtering rows
df[['period','status','natural_increase','net_migration']][df.natural_increase>=6500]
#it prints the following columns where the natural increase is greater than or equal to 6500

        period status  natural_increase  net_migration
0   30-06-2008      F            8500.0        -3200.0
1   30-09-2008      F            8100.0         2900.0
2   31-12-2008      F            9200.0         2700.0
3   31-03-2009      F            9300.0         5100.0
4   30-06-2009      F            8400.0         1900.0
5   30-09-2009      F            8500.0         7400.0
6   31-12-2009      F            9100.0         6900.0
7   31-03-2010      F            9900.0         4800.0
8   30-06-2010      F            8700.0        -2600.0
9   30-09-2010      F            8400.0         4800.0
10  31-12-2010      F            8900.0         3400.0
11  31-03-2011      F            8800.0          900.0
12  30-06-2011      F            7900.0        -5300.0
13  30-09-2011      F            7500.0         1700.0
14  31-12-2011      F            7800.0          800.0
15  31-03-2012      F            8800.0         -600.0
16  30-06-2012      F            7800.0        -5100.0
17  30-09-2012      F            7100.0         1600.0
18  31-12-2012      F            8500.0         2900.0
19  31-03-2013      F            8200.0         3100.0
20  30-06-2013      F            7000.0          300.0
21  30-09-2013      F            6700.0         8900.0
22  31-12-2013      F            7900.0        10200.0
23  31-03-2014      F            7600.0        12500.0
24  30-06-2014      F            7100.0         6700.0
26  31-12-2014      F            7300.0        15700.0
27  31-03-2015      F            7600.0        17900.0
28  30-06-2015      F            7000.0         8700.0
30  31-12-2015      F            7300.0        19400.0
31  31-03-2016      F            8000.0        20600.0
32  30-06-2016      F            7200.0        10200.0
33  30-09-2016      F            6800.0        19800.0
34  31-12-2016      F            7400.0        20000.0
35  31-03-2017      F            7400.0        21900.0
36  30-06-2017      F            6800.0        10500.0
38  31-12-2017      F            7500.0        19100.0
39  31-03-2018      F            7300.0        19900.0

In [19]:
#index
#it is the first column in every table that numbers every rows in the table just like s.no 
#In pandas any of the columns can be set as a index and those can be used to acess rows

In [20]:
import pandas as pd
df = pd.read_csv(r"C:\Users\G.M.BHOOPESH\Desktop\ds\study materials\pandas\population.csv")

In [21]:
#it sets index as period and inplace modifies the table
df.set_index('period',inplace=True)
df

,status,natural_increase,net_migration,population_change,percent_population_change,population
period,,,,,,
30-06-2008,F,8500.0,-3200.0,4200.0,0.10,4259800.0
30-09-2008,F,8100.0,2900.0,9800.0,0.23,4269600.0
31-12-2008,F,9200.0,2700.0,10700.0,0.25,4280300.0
31-03-2009,F,9300.0,5100.0,13200.0,0.31,4293500.0
30-06-2009,F,8400.0,1900.0,9100.0,0.21,4302600.0
30-09-2009,F,8500.0,7400.0,14700.0,0.34,4317300.0
31-12-2009,F,9100.0,6900.0,14800.0,0.34,4332100.0
31-03-2010,F,9900.0,4800.0,13500.0,0.31,4345700.0
30-06-2010,F,8700.0,-2600.0,5000.0,0.11,4350700.0
30-09-2010,F,8400.0,4800.0,12000.0,0.28,4362700.0
31-12-2010,F,8900.0,3400.0,11200.0,0.26,4373900.0
31-03-2011,F,8800.0,900.0,8600.0,0.20,4382500.0
30-06-2011,F,7900.0,-5300.0,1500.0,0.03,4380000.0
30-09-2011,F,7500.0,1700.0,8100.0,0.18,4390000.0
31-12-2011,F,7800.0,800.0,7400.0,0.17,4399400.0
31-03-2012,F,8800.0,-600.0,7000.0,0.16,4406500.0
30-06-2012,F,7800.0,-5100.0,1600.0,0.04,4408100.0
30-09-2012,F,7100.0,1600.0,7600.0,0.17,4415600.0
31-12-2012,F,8500.0,2900.0,10200.0,0.23,4425900.0
31-03-2013,F,8200.0,3100.0,10100.0,0.23,4440000.0
30-06-2013,F,7000.0,300.0,6100.0,0.14,4442100.0
30-09-2013,F,6700.0,8900.0,15600.0,0.35,4457700.0
31-12-2013,F,7900.0,10200.0,18100.0,0.41,4475800.0
31-03-2014,F,7600.0,12500.0,20200.0,0.45,4500000.0
30-06-2014,F,7100.0,6700.0,13800.0,0.31,4509700.0
30-09-2014,F,5900.0,16000.0,21800.0,0.48,4531600.0
31-12-2014,F,7300.0,15700.0,23000.0,0.51,4554600.0
31-03-2015,F,7600.0,17900.0,25500.0,0.56,4580000.0
30-06-2015,F,7000.0,8700.0,15700.0,0.34,4595700.0
30-09-2015,F,5900.0,18900.0,24900.0,0.54,4620600.0
31-12-2015,F,7300.0,19400.0,26700.0,0.58,4647300.0
31-03-2016,F,8000.0,20600.0,28500.0,0.61,4675900.0
30-06-2016,F,7200.0,10200.0,17400.0,0.37,4693200.0
30-09-2016,F,6800.0,19800.0,26600.0,0.57,4719800.0
31-12-2016,F,7400.0,20000.0,27400.0,0.58,4747200.0
31-03-2017,F,7400.0,21900.0,29400.0,0.62,4776500.0
30-06-2017,F,6800.0,10500.0,17300.0,0.36,4793900.0
30-09-2017,F,5500.0,18500.0,24000.0,0.50,4817800.0
31-12-2017,F,7500.0,19100.0,26600.0,0.55,4844400.0
31-03-2018,F,7300.0,19900.0,27200.0,0.56,4871600.0
30-06-2018,P,6200.0,7500.0,13700.0,0.28,4885300.0

In [22]:
#acessing row using period as a index
df.loc['31-03-2018']

status                               F
natural_increase                7300.0
net_migration                  19900.0
population_change              27200.0
percent_population_change         0.56
population                   4871600.0
Name: 31-03-2018, dtype: object

In [23]:
#resetting the table
df.reset_index('period',inplace=True)
df

,period,status,natural_increase,net_migration,population_change,percent_population_change,population
0,30-06-2008,F,8500.0,-3200.0,4200.0,0.10,4259800.0
1,30-09-2008,F,8100.0,2900.0,9800.0,0.23,4269600.0
2,31-12-2008,F,9200.0,2700.0,10700.0,0.25,4280300.0
3,31-03-2009,F,9300.0,5100.0,13200.0,0.31,4293500.0
4,30-06-2009,F,8400.0,1900.0,9100.0,0.21,4302600.0
5,30-09-2009,F,8500.0,7400.0,14700.0,0.34,4317300.0
6,31-12-2009,F,9100.0,6900.0,14800.0,0.34,4332100.0
7,31-03-2010,F,9900.0,4800.0,13500.0,0.31,4345700.0
8,30-06-2010,F,8700.0,-2600.0,5000.0,0.11,4350700.0
9,30-09-2010,F,8400.0,4800.0,12000.0,0.28,4362700.0
10,31-12-2010,F,8900.0,3400.0,11200.0,0.26,4373900.0
11,31-03-2011,F,8800.0,900.0,8600.0,0.20,4382500.0
12,30-06-2011,F,7900.0,-5300.0,1500.0,0.03,4380000.0
13,30-09-2011,F,7500.0,1700.0,8100.0,0.18,4390000.0
14,31-12-2011,F,7800.0,800.0,7400.0,0.17,4399400.0
15,31-03-2012,F,8800.0,-600.0,7000.0,0.16,4406500.0
16,30-06-2012,F,7800.0,-5100.0,1600.0,0.04,4408100.0
17,30-09-2012,F,7100.0,1600.0,7600.0,0.17,4415600.0
18,31-12-2012,F,8500.0,2900.0,10200.0,0.23,4425900.0
19,31-03-2013,F,8200.0,3100.0,10100.0,0.23,4440000.0
20,30-06-2013,F,7000.0,300.0,6100.0,0.14,4442100.0
21,30-09-2013,F,6700.0,8900.0,15600.0,0.35,4457700.0
22,31-12-2013,F,7900.0,10200.0,18100.0,0.41,4475800.0
23,31-03-2014,F,7600.0,12500.0,20200.0,0.45,4500000.0
24,30-06-2014,F,7100.0,6700.0,13800.0,0.31,4509700.0
25,30-09-2014,F,5900.0,16000.0,21800.0,0.48,4531600.0
26,31-12-2014,F,7300.0,15700.0,23000.0,0.51,4554600.0
27,31-03-2015,F,7600.0,17900.0,25500.0,0.56,4580000.0
28,30-06-2015,F,7000.0,8700.0,15700.0,0.34,4595700.0
29,30-09-2015,F,5900.0,18900.0,24900.0,0.54,4620600.0
30,31-12-2015,F,7300.0,19400.0,26700.0,0.58,4647300.0
31,31-03-2016,F,8000.0,20600.0,28500.0,0.61,4675900.0
32,30-06-2016,F,7200.0,10200.0,17400.0,0.37,4693200.0
33,30-09-2016,F,6800.0,19800.0,26600.0,0.57,4719800.0
34,31-12-2016,F,7400.0,20000.0,27400.0,0.58,4747200.0
35,31-03-2017,F,7400.0,21900.0,29400.0,0.62,4776500.0
36,30-06-2017,F,6800.0,10500.0,17300.0,0.36,4793900.0
37,30-09-2017,F,5500.0,18500.0,24000.0,0.50,4817800.0
38,31-12-2017,F,7500.0,19100.0,26600.0,0.55,4844400.0
39,31-03-2018,F,7300.0,19900.0,27200.0,0.56,4871600.0
40,30-06-2018,P,6200.0,7500.0,13700.0,0.28,4885300.0

DIFFRENT WAYS OF CREATING A DATAFRAME 
1.CSV
2.excel
3.python dictonary
4.list
5.list of dictionary

1.reading data from a csv file
import pandas as pd
df = read_csv("population.csv")  (if the csv file is on the same folder as jupyter)
df = read_csv(r"C:\Users\G.M.BHOOPESH\Downloads\population.csv") (if the csv file is on the computer somewhere else)


2.reading a xlsx file (xl file)
import pandas as pd
df = read_xlsx("population.xlsx","sheet1") (sheet name should be specified to refer in which the table is present)


3.python dictionary
create a dictionary 
df = df.DataFrame (pass the dictionary name as a argument)


4.list
create list
df = df.DataFrame(pass the dictionary name as a argument,columns=[specify the column names])


5.list of dictionary
create a dictionary list
df = df.DataFrame (pass the dictionary list name as a argument)

READING AND WRITING EXCEL FILES
1.read.csv
2.write.csv
3.read.xlsx
4.write.xlsx

In [24]:
#to read a csv file
import pandas as pd
df = pd.read_csv(r"C:\Users\G.M.BHOOPESH\Desktop\ds\study materials\pandas\population.csv")
df

,period,status,natural_increase,net_migration,population_change,percent_population_change,population
0,30-06-2008,F,8500.0,-3200.0,4200.0,0.10,4259800.0
1,30-09-2008,F,8100.0,2900.0,9800.0,0.23,4269600.0
2,31-12-2008,F,9200.0,2700.0,10700.0,0.25,4280300.0
3,31-03-2009,F,9300.0,5100.0,13200.0,0.31,4293500.0
4,30-06-2009,F,8400.0,1900.0,9100.0,0.21,4302600.0
5,30-09-2009,F,8500.0,7400.0,14700.0,0.34,4317300.0
6,31-12-2009,F,9100.0,6900.0,14800.0,0.34,4332100.0
7,31-03-2010,F,9900.0,4800.0,13500.0,0.31,4345700.0
8,30-06-2010,F,8700.0,-2600.0,5000.0,0.11,4350700.0
9,30-09-2010,F,8400.0,4800.0,12000.0,0.28,4362700.0
10,31-12-2010,F,8900.0,3400.0,11200.0,0.26,4373900.0
11,31-03-2011,F,8800.0,900.0,8600.0,0.20,4382500.0
12,30-06-2011,F,7900.0,-5300.0,1500.0,0.03,4380000.0
13,30-09-2011,F,7500.0,1700.0,8100.0,0.18,4390000.0
14,31-12-2011,F,7800.0,800.0,7400.0,0.17,4399400.0
15,31-03-2012,F,8800.0,-600.0,7000.0,0.16,4406500.0
16,30-06-2012,F,7800.0,-5100.0,1600.0,0.04,4408100.0
17,30-09-2012,F,7100.0,1600.0,7600.0,0.17,4415600.0
18,31-12-2012,F,8500.0,2900.0,10200.0,0.23,4425900.0
19,31-03-2013,F,8200.0,3100.0,10100.0,0.23,4440000.0
20,30-06-2013,F,7000.0,300.0,6100.0,0.14,4442100.0
21,30-09-2013,F,6700.0,8900.0,15600.0,0.35,4457700.0
22,31-12-2013,F,7900.0,10200.0,18100.0,0.41,4475800.0
23,31-03-2014,F,7600.0,12500.0,20200.0,0.45,4500000.0
24,30-06-2014,F,7100.0,6700.0,13800.0,0.31,4509700.0
25,30-09-2014,F,5900.0,16000.0,21800.0,0.48,4531600.0
26,31-12-2014,F,7300.0,15700.0,23000.0,0.51,4554600.0
27,31-03-2015,F,7600.0,17900.0,25500.0,0.56,4580000.0
28,30-06-2015,F,7000.0,8700.0,15700.0,0.34,4595700.0
29,30-09-2015,F,5900.0,18900.0,24900.0,0.54,4620600.0
30,31-12-2015,F,7300.0,19400.0,26700.0,0.58,4647300.0
31,31-03-2016,F,8000.0,20600.0,28500.0,0.61,4675900.0
32,30-06-2016,F,7200.0,10200.0,17400.0,0.37,4693200.0
33,30-09-2016,F,6800.0,19800.0,26600.0,0.57,4719800.0
34,31-12-2016,F,7400.0,20000.0,27400.0,0.58,4747200.0
35,31-03-2017,F,7400.0,21900.0,29400.0,0.62,4776500.0
36,30-06-2017,F,6800.0,10500.0,17300.0,0.36,4793900.0
37,30-09-2017,F,5500.0,18500.0,24000.0,0.50,4817800.0
38,31-12-2017,F,7500.0,19100.0,26600.0,0.55,4844400.0
39,31-03-2018,F,7300.0,19900.0,27200.0,0.56,4871600.0
40,30-06-2018,P,6200.0,7500.0,13700.0,0.28,4885300.0

In [25]:
#to start the header for the first column
import pandas as pd
df = pd.read_csv(r"C:\Users\G.M.BHOOPESH\Desktop\ds\study materials\pandas\population.csv",header=1)
df

    30-06-2008  F    8500    -3200     4200   0.1    4259800
0   30-09-2008  F  8100.0   2900.0   9800.0  0.23  4269600.0
1   31-12-2008  F  9200.0   2700.0  10700.0  0.25  4280300.0
2   31-03-2009  F  9300.0   5100.0  13200.0  0.31  4293500.0
3   30-06-2009  F  8400.0   1900.0   9100.0  0.21  4302600.0
4   30-09-2009  F  8500.0   7400.0  14700.0  0.34  4317300.0
5   31-12-2009  F  9100.0   6900.0  14800.0  0.34  4332100.0
6   31-03-2010  F  9900.0   4800.0  13500.0  0.31  4345700.0
7   30-06-2010  F  8700.0  -2600.0   5000.0  0.11  4350700.0
8   30-09-2010  F  8400.0   4800.0  12000.0  0.28  4362700.0
9   31-12-2010  F  8900.0   3400.0  11200.0  0.26  4373900.0
10  31-03-2011  F  8800.0    900.0   8600.0  0.20  4382500.0
11  30-06-2011  F  7900.0  -5300.0   1500.0  0.03  4380000.0
12  30-09-2011  F  7500.0   1700.0   8100.0  0.18  4390000.0
13  31-12-2011  F  7800.0    800.0   7400.0  0.17  4399400.0
14  31-03-2012  F  8800.0   -600.0   7000.0  0.16  4406500.0
15  30-06-2012  F  7800.0  -5100.0   1600.0  0.04  4408100.0
16  30-09-2012  F  7100.0   1600.0   7600.0  0.17  4415600.0
17  31-12-2012  F  8500.0   2900.0  10200.0  0.23  4425900.0
18  31-03-2013  F  8200.0   3100.0  10100.0  0.23  4440000.0
19  30-06-2013  F  7000.0    300.0   6100.0  0.14  4442100.0
20  30-09-2013  F  6700.0   8900.0  15600.0  0.35  4457700.0
21  31-12-2013  F  7900.0  10200.0  18100.0  0.41  4475800.0
22  31-03-2014  F  7600.0  12500.0  20200.0  0.45  4500000.0
23  30-06-2014  F  7100.0   6700.0  13800.0  0.31  4509700.0
24  30-09-2014  F  5900.0  16000.0  21800.0  0.48  4531600.0
25  31-12-2014  F  7300.0  15700.0  23000.0  0.51  4554600.0
26  31-03-2015  F  7600.0  17900.0  25500.0  0.56  4580000.0
27  30-06-2015  F  7000.0   8700.0  15700.0  0.34  4595700.0
28  30-09-2015  F  5900.0  18900.0  24900.0  0.54  4620600.0
29  31-12-2015  F  7300.0  19400.0  26700.0  0.58  4647300.0
30  31-03-2016  F  8000.0  20600.0  28500.0  0.61  4675900.0
31  30-06-2016  F  7200.0  10200.0  17400.0  0.37  4693200.0
32  30-09-2016  F  6800.0  19800.0  26600.0  0.57  4719800.0
33  31-12-2016  F  7400.0  20000.0  27400.0  0.58  4747200.0
34  31-03-2017  F  7400.0  21900.0  29400.0  0.62  4776500.0
35  30-06-2017  F  6800.0  10500.0  17300.0  0.36  4793900.0
36  30-09-2017  F  5500.0  18500.0  24000.0  0.50  4817800.0
37  31-12-2017  F  7500.0  19100.0  26600.0  0.55  4844400.0
38  31-03-2018  F  7300.0  19900.0  27200.0  0.56  4871600.0
39  30-06-2018  P  6200.0   7500.0  13700.0  0.28  4885300.0

In [26]:
#to change the nan and not applicable values to nan
import pandas as pd
df = pd.read_csv(r"C:\Users\G.M.BHOOPESH\Desktop\ds\study materials\pandas\population.csv",na_values=['na','not available'])
df

,period,status,natural_increase,net_migration,population_change,percent_population_change,population
0,30-06-2008,F,8500.0,-3200.0,4200.0,0.10,4259800.0
1,30-09-2008,F,8100.0,2900.0,9800.0,0.23,4269600.0
2,31-12-2008,F,9200.0,2700.0,10700.0,0.25,4280300.0
3,31-03-2009,F,9300.0,5100.0,13200.0,0.31,4293500.0
4,30-06-2009,F,8400.0,1900.0,9100.0,0.21,4302600.0
5,30-09-2009,F,8500.0,7400.0,14700.0,0.34,4317300.0
6,31-12-2009,F,9100.0,6900.0,14800.0,0.34,4332100.0
7,31-03-2010,F,9900.0,4800.0,13500.0,0.31,4345700.0
8,30-06-2010,F,8700.0,-2600.0,5000.0,0.11,4350700.0
9,30-09-2010,F,8400.0,4800.0,12000.0,0.28,4362700.0
10,31-12-2010,F,8900.0,3400.0,11200.0,0.26,4373900.0
11,31-03-2011,F,8800.0,900.0,8600.0,0.20,4382500.0
12,30-06-2011,F,7900.0,-5300.0,1500.0,0.03,4380000.0
13,30-09-2011,F,7500.0,1700.0,8100.0,0.18,4390000.0
14,31-12-2011,F,7800.0,800.0,7400.0,0.17,4399400.0
15,31-03-2012,F,8800.0,-600.0,7000.0,0.16,4406500.0
16,30-06-2012,F,7800.0,-5100.0,1600.0,0.04,4408100.0
17,30-09-2012,F,7100.0,1600.0,7600.0,0.17,4415600.0
18,31-12-2012,F,8500.0,2900.0,10200.0,0.23,4425900.0
19,31-03-2013,F,8200.0,3100.0,10100.0,0.23,4440000.0
20,30-06-2013,F,7000.0,300.0,6100.0,0.14,4442100.0
21,30-09-2013,F,6700.0,8900.0,15600.0,0.35,4457700.0
22,31-12-2013,F,7900.0,10200.0,18100.0,0.41,4475800.0
23,31-03-2014,F,7600.0,12500.0,20200.0,0.45,4500000.0
24,30-06-2014,F,7100.0,6700.0,13800.0,0.31,4509700.0
25,30-09-2014,F,5900.0,16000.0,21800.0,0.48,4531600.0
26,31-12-2014,F,7300.0,15700.0,23000.0,0.51,4554600.0
27,31-03-2015,F,7600.0,17900.0,25500.0,0.56,4580000.0
28,30-06-2015,F,7000.0,8700.0,15700.0,0.34,4595700.0
29,30-09-2015,F,5900.0,18900.0,24900.0,0.54,4620600.0
30,31-12-2015,F,7300.0,19400.0,26700.0,0.58,4647300.0
31,31-03-2016,F,8000.0,20600.0,28500.0,0.61,4675900.0
32,30-06-2016,F,7200.0,10200.0,17400.0,0.37,4693200.0
33,30-09-2016,F,6800.0,19800.0,26600.0,0.57,4719800.0
34,31-12-2016,F,7400.0,20000.0,27400.0,0.58,4747200.0
35,31-03-2017,F,7400.0,21900.0,29400.0,0.62,4776500.0
36,30-06-2017,F,6800.0,10500.0,17300.0,0.36,4793900.0
37,30-09-2017,F,5500.0,18500.0,24000.0,0.50,4817800.0
38,31-12-2017,F,7500.0,19100.0,26600.0,0.55,4844400.0
39,31-03-2018,F,7300.0,19900.0,27200.0,0.56,4871600.0
40,30-06-2018,P,6200.0,7500.0,13700.0,0.28,4885300.0

In [27]:
#to tell there is no header in a file
import pandas as pd
df = pd.read_csv(r"C:\Users\G.M.BHOOPESH\Desktop\ds\study materials\pandas\population.csv",header=None,na_values=['na','not available'])
df

,0,1,2,3,4,5,6
0,period,status,natural_increase,net_migration,population_change,percent_population_change,population
1,30-06-2008,F,8500,-3200,4200,0.1,4259800
2,30-09-2008,F,8100,2900,9800,0.23,4269600
3,31-12-2008,F,9200,2700,10700,0.25,4280300
4,31-03-2009,F,9300,5100,13200,0.31,4293500
5,30-06-2009,F,8400,1900,9100,0.21,4302600
6,30-09-2009,F,8500,7400,14700,0.34,4317300
7,31-12-2009,F,9100,6900,14800,0.34,4332100
8,31-03-2010,F,9900,4800,13500,0.31,4345700
9,30-06-2010,F,8700,-2600,5.00E+03,0.11,4350700
10,30-09-2010,F,8400,4800,1.20E+04,0.28,4362700
11,31-12-2010,F,8900,3400,11200,0.26,4373900
12,31-03-2011,F,8800,900,8600,0.2,4382500
13,30-06-2011,F,7900,-5300,1500,0.03,4.38E+06
14,30-09-2011,F,7500,1700,8100,0.18,4.39E+06
15,31-12-2011,F,7800,800,7400,0.17,4399400
16,31-03-2012,F,8800,-600,7.00E+03,0.16,4406500
17,30-06-2012,F,7800,-5100,1600,0.04,4408100
18,30-09-2012,F,7100,1600,7600,0.17,4415600
19,31-12-2012,F,8500,2900,10200,0.23,4425900
20,31-03-2013,F,8200,3100,10100,0.23,4.44E+06
21,30-06-2013,F,7.00E+03,300,6100,0.14,4442100
22,30-09-2013,F,6700,8900,15600,0.35,4457700
23,31-12-2013,F,7900,10200,18100,0.41,4475800
24,31-03-2014,F,7600,12500,20200,0.45,4.50E+06
25,30-06-2014,F,7100,6700,13800,0.31,4509700
26,30-09-2014,F,5900,1.60E+04,21800,0.48,4531600
27,31-12-2014,F,7300,15700,2.30E+04,0.51,4554600
28,31-03-2015,F,7600,17900,25500,0.56,4.58E+06
29,30-06-2015,F,7.00E+03,8700,15700,0.34,4595700
30,30-09-2015,F,5900,18900,24900,0.54,4620600
31,31-12-2015,F,7300,19400,26700,0.58,4647300
32,31-03-2016,F,8.00E+03,20600,28500,0.61,4675900
33,30-06-2016,F,7200,10200,17400,0.37,4693200
34,30-09-2016,F,6800,19800,26600,0.57,4719800
35,31-12-2016,F,7400,2.00E+04,27400,0.58,4747200
36,31-03-2017,F,7400,21900,29400,0.62,4776500
37,30-06-2017,F,6800,10500,17300,0.36,4793900
38,30-09-2017,F,5500,18500,2.40E+04,0.5,4817800
39,31-12-2017,F,7500,19100,26600,0.55,4844400
40,31-03-2018,F,7300,19900,27200,0.56,4871600
41,30-06-2018,P,6200,7500,13700,0.28,4885300

In [28]:
#to change the header values
df = pd.read_csv(r"C:\Users\G.M.BHOOPESH\Desktop\ds\study materials\pandas\population.csv",names=["lalith","bhoopesh","abi","srini","kavin","yeashu","rohit"])
df

,lalith,bhoopesh,abi,srini,kavin,yeashu,rohit
0,period,status,natural_increase,net_migration,population_change,percent_population_change,population
1,30-06-2008,F,8500,-3200,4200,0.1,4259800
2,30-09-2008,F,8100,2900,9800,0.23,4269600
3,31-12-2008,F,9200,2700,10700,0.25,4280300
4,31-03-2009,F,9300,5100,13200,0.31,4293500
5,30-06-2009,F,8400,1900,9100,0.21,4302600
6,30-09-2009,F,8500,7400,14700,0.34,4317300
7,31-12-2009,F,9100,6900,14800,0.34,4332100
8,31-03-2010,F,9900,4800,13500,0.31,4345700
9,30-06-2010,F,8700,-2600,5.00E+03,0.11,4350700
10,30-09-2010,F,8400,4800,1.20E+04,0.28,4362700
11,31-12-2010,F,8900,3400,11200,0.26,4373900
12,31-03-2011,F,8800,900,8600,0.2,4382500
13,30-06-2011,F,7900,-5300,1500,0.03,4.38E+06
14,30-09-2011,F,7500,1700,8100,0.18,4.39E+06
15,31-12-2011,F,7800,800,7400,0.17,4399400
16,31-03-2012,F,8800,-600,7.00E+03,0.16,4406500
17,30-06-2012,F,7800,-5100,1600,0.04,4408100
18,30-09-2012,F,7100,1600,7600,0.17,4415600
19,31-12-2012,F,8500,2900,10200,0.23,4425900
20,31-03-2013,F,8200,3100,10100,0.23,4.44E+06
21,30-06-2013,F,7.00E+03,300,6100,0.14,4442100
22,30-09-2013,F,6700,8900,15600,0.35,4457700
23,31-12-2013,F,7900,10200,18100,0.41,4475800
24,31-03-2014,F,7600,12500,20200,0.45,4.50E+06
25,30-06-2014,F,7100,6700,13800,0.31,4509700
26,30-09-2014,F,5900,1.60E+04,21800,0.48,4531600
27,31-12-2014,F,7300,15700,2.30E+04,0.51,4554600
28,31-03-2015,F,7600,17900,25500,0.56,4.58E+06
29,30-06-2015,F,7.00E+03,8700,15700,0.34,4595700
30,30-09-2015,F,5900,18900,24900,0.54,4620600
31,31-12-2015,F,7300,19400,26700,0.58,4647300
32,31-03-2016,F,8.00E+03,20600,28500,0.61,4675900
33,30-06-2016,F,7200,10200,17400,0.37,4693200
34,30-09-2016,F,6800,19800,26600,0.57,4719800
35,31-12-2016,F,7400,2.00E+04,27400,0.58,4747200
36,31-03-2017,F,7400,21900,29400,0.62,4776500
37,30-06-2017,F,6800,10500,17300,0.36,4793900
38,30-09-2017,F,5500,18500,2.40E+04,0.5,4817800
39,31-12-2017,F,7500,19100,26600,0.55,4844400
40,31-03-2018,F,7300,19900,27200,0.56,4871600
41,30-06-2018,P,6200,7500,13700,0.28,4885300

In [29]:
#to only change na and not applicable values in period and net migration column to nan
import pandas as pd
df = pd.read_csv(r"C:\Users\G.M.BHOOPESH\Desktop\ds\study materials\pandas\population.csv",na_values={'period':['na','not applicable'],
                                                                               'net_migration':['na','not applicable']
                                                                              })
df

,period,status,natural_increase,net_migration,population_change,percent_population_change,population
0,30-06-2008,F,8500.0,-3200.0,4200.0,0.10,4259800.0
1,30-09-2008,F,8100.0,2900.0,9800.0,0.23,4269600.0
2,31-12-2008,F,9200.0,2700.0,10700.0,0.25,4280300.0
3,31-03-2009,F,9300.0,5100.0,13200.0,0.31,4293500.0
4,30-06-2009,F,8400.0,1900.0,9100.0,0.21,4302600.0
5,30-09-2009,F,8500.0,7400.0,14700.0,0.34,4317300.0
6,31-12-2009,F,9100.0,6900.0,14800.0,0.34,4332100.0
7,31-03-2010,F,9900.0,4800.0,13500.0,0.31,4345700.0
8,30-06-2010,F,8700.0,-2600.0,5000.0,0.11,4350700.0
9,30-09-2010,F,8400.0,4800.0,12000.0,0.28,4362700.0
10,31-12-2010,F,8900.0,3400.0,11200.0,0.26,4373900.0
11,31-03-2011,F,8800.0,900.0,8600.0,0.20,4382500.0
12,30-06-2011,F,7900.0,-5300.0,1500.0,0.03,4380000.0
13,30-09-2011,F,7500.0,1700.0,8100.0,0.18,4390000.0
14,31-12-2011,F,7800.0,800.0,7400.0,0.17,4399400.0
15,31-03-2012,F,8800.0,-600.0,7000.0,0.16,4406500.0
16,30-06-2012,F,7800.0,-5100.0,1600.0,0.04,4408100.0
17,30-09-2012,F,7100.0,1600.0,7600.0,0.17,4415600.0
18,31-12-2012,F,8500.0,2900.0,10200.0,0.23,4425900.0
19,31-03-2013,F,8200.0,3100.0,10100.0,0.23,4440000.0
20,30-06-2013,F,7000.0,300.0,6100.0,0.14,4442100.0
21,30-09-2013,F,6700.0,8900.0,15600.0,0.35,4457700.0
22,31-12-2013,F,7900.0,10200.0,18100.0,0.41,4475800.0
23,31-03-2014,F,7600.0,12500.0,20200.0,0.45,4500000.0
24,30-06-2014,F,7100.0,6700.0,13800.0,0.31,4509700.0
25,30-09-2014,F,5900.0,16000.0,21800.0,0.48,4531600.0
26,31-12-2014,F,7300.0,15700.0,23000.0,0.51,4554600.0
27,31-03-2015,F,7600.0,17900.0,25500.0,0.56,4580000.0
28,30-06-2015,F,7000.0,8700.0,15700.0,0.34,4595700.0
29,30-09-2015,F,5900.0,18900.0,24900.0,0.54,4620600.0
30,31-12-2015,F,7300.0,19400.0,26700.0,0.58,4647300.0
31,31-03-2016,F,8000.0,20600.0,28500.0,0.61,4675900.0
32,30-06-2016,F,7200.0,10200.0,17400.0,0.37,4693200.0
33,30-09-2016,F,6800.0,19800.0,26600.0,0.57,4719800.0
34,31-12-2016,F,7400.0,20000.0,27400.0,0.58,4747200.0
35,31-03-2017,F,7400.0,21900.0,29400.0,0.62,4776500.0
36,30-06-2017,F,6800.0,10500.0,17300.0,0.36,4793900.0
37,30-09-2017,F,5500.0,18500.0,24000.0,0.50,4817800.0
38,31-12-2017,F,7500.0,19100.0,26600.0,0.55,4844400.0
39,31-03-2018,F,7300.0,19900.0,27200.0,0.56,4871600.0
40,30-06-2018,P,6200.0,7500.0,13700.0,0.28,4885300.0

In [30]:
#to write a csv file
df.to_csv("new.csv",header=False)

In [31]:
#to only write the following columns
df.to_csv("new.csv",columns=["period","population"])